.contact__text,
.contact__email {
  width: 100%;
  margin-top: 0.25rem;
}

.contact__submit {
  width: 100%;
  background: var(--success);
  color: var(--neutralLighter);
  font-size: 1.5rem;
  font-variant: small-caps;
}

.contact__success,
.contact__error {
  display: none;
  opacity: 0;
  transition: opacity var(--transitionDuration) var(--transitionEasing);
  font-size: 1.5rem;

  &.shown {
    display: block;
    opacity: 1;
  }
}

.contact__success {
  color: var(--success);
}

.contact__error {
  color: var(--danger);
}
