.loader {
  width: 100%;
  height: 400px;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-arc {
  width: 64px;
  height: 64px;
  border: 5px solid var(--info);
  border-right-color: var(--neutralLight);
  border-radius: 50%;
  animation: spinRight calc(2 * var(--animationDuration)) linear infinite;
}
