.about__content,
.about__picture {
  border-radius: 0.25rem;
}

.about__content {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;

  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
  background: var(--neutralLight);
  padding: 1.5rem;
  padding-bottom: 0.5rem;

  &::before,
  &::after {
    position: absolute;
    display: block;
    transform: skew(-15deg);
    color: var(--neutralDark);
    font-size: 2rem;
    font-weight: bold;
    content: '"';
  }

  &::before {
    top: 0;
    left: 0.2rem;
  }

  &::after {
    right: 0.5rem;
    bottom: -1rem;
  }
}

.about__picture {
  grid-row: 1;
  width: 100%;
  max-width: 160px;
  margin-right: 0.2rem;
}

.about__statement {
  grid-row: 2;
  margin-top: 0.5rem;
  line-height: 1.25rem;
}

.about__statement p:first-child {
  margin: 0;
}

.about__social {
  grid-row: 3;
}

.about__socialIcon {
  height: 34px;
  padding: 0 5px;
  opacity: 0.33;
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: opacity, transform;

  &:hover {
    opacity: 0.8;
    transform: scale(1.25);
  }
}

@media (min-width: 640px) {
  .about__content {
    grid-gap: 0.8rem;
    grid-template-columns: auto 1fr;
  }

  .about__social {
    grid-row: 2;
  }

  .about__statement {
    grid-row: 1 / 3;
    margin-top: 0;
  }
}
