.skill {
  position: relative;
  padding-bottom: 3rem;
}

.skill__name {
  font-weight: bold;
}

.skill__level {
  text-transform: capitalize;
}

.skill__rangeBackground,
.skill__range {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.25rem;
  height: 1.3rem;
}

.skill__rangeBackground {
  background: var(--neutralLight);
}

.skill__range {
  background: var(--info);
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: left, right;
}

.skill__year {
  padding: 0 0.2rem;
  color: var(--neutralLighter);
}
