.skill {
  position: relative;
  padding-bottom: 3rem;
}

.skill-name {
  font-weight: bold;
}

.skill-level {
  text-transform: capitalize;
}

.skill-range-background,
.skill-range {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.25rem;
  height: 1.3rem;
}

.skill-range-background {
  background: var(--neutralLight);
}

.skill-range {
  background: var(--info);
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: left, right;
}

.skill-year {
  padding: 0 0.2rem;
  color: var(--neutralLighter);
}
