.article {
  margin-bottom: 2.4rem;
}

@media (min-width: 30em) {
  .article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.article__img {
  width: 11.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.article__title {
  font-size: 22px;
  color: var(--foregroundDark);
  transition: color var(--transitionDuration) var(--transitionEasing);

  &:hover {
    color: var(--foregroundLight);
  }
}

.article__text {
  margin: 0.33rem 0;
}

.article__date {
  font-size: 14px;
  color: var(--foreground);
}
