.article-item {
  margin-bottom: 2rem;
}

.article-item-title {
  font-size: 22px;
  color: var(--foregroundDark);
  transition: color var(--animationDuration) var(--animationEasing);
}

.article-item-title:hover {
  color: var(--foregroundLight);
}

.article-item-text {
  margin: 0.33rem 0;
}

.article-item-date {
  font-size: 14px;
  color: var(--foreground);
}
