.article {
  margin-bottom: 2rem;
}

.article__title {
  font-size: 22px;
  color: var(--foregroundDark);
  transition: color var(--transitionDuration) var(--transitionEasing);

  &:hover {
    color: var(--foregroundLight);
  }
}

.article__text {
  margin: 0.33rem 0;
}

.article__date {
  font-size: 14px;
  color: var(--foreground);
}
