<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vladimir Sabev - Freelance Web Developer</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="avatar.png">

    <link href="https://fonts.googleapis.com/css?family=Acme|Nunito" rel="stylesheet">
  </head>

  <body>
    <!-- Google Analytics -->
    <!-- TODO: Move property ID to configuration -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-107701468-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </body>
</html>
