<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vladimir Sabev - Freelance Web Developer</title>
    <meta name="author" content="Vladimir Sabev">
    <meta name="description" content="A versatile software engineer with a penchant for front end development and more than 8 years of experience in implementing custom web solutions.">

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="favicon.png">

    <% const fonts = htmlWebpackPlugin.options.style.fonts; %>
    <link href="https://fonts.googleapis.com/css?family=<%= Object.values(fonts).map((font) => font.split(/\s+/).join('+')).join('|') %>" rel="stylesheet">
  </head>

  <body>
    <% if (process.env.NODE_ENV === 'production') { // Google Analytics %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '<%= process.env.GOOGLE_ANALYTICS_PRODUCT_ID %>', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <% } %>

    <noscript>
      It looks like your browser has JavaScript disabled.
      Please enable JavaScript to use this website!
    </noscript>
  </body>
</html>
