* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted #95a5a6;
  cursor: help;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.25, 1);
  transition-property: opacity, filter;
}

fieldset[disabled] {
  opacity: 0.8;
  filter: grayscale();
}

fieldset[disabled],
fieldset[disabled] textarea,
fieldset[disabled] input,
fieldset[disabled] button {
  cursor: not-allowed;
}


fieldset.loading,
fieldset.loading textarea,
fieldset.loading input,
fieldset.loading button {
  cursor: progress;
}

textarea,
input,
button {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 1rem 0.6rem;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.25, 1);
}

textarea,
input {
  outline: none;
  border: 1px solid #bdc3c7;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  transition-property: box-shadow;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 600px;
}

button {
  cursor: pointer;
  border: 0;
  transition-property: box-shadow;
}

.narrow {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.box {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
  background: #ecf0f1;
  padding: 1.5rem;
}

.about,
.contact,
.post-list {
  margin-bottom: 3rem;
}

/* Profile */
.profile {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

/* NOTE: I can't quite decide whether it looks better with or without the grid */
/* @media (min-width: 800px) {
  .profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
  }
} */

.profile-avatar {
  width: 180px;
  margin: 1.5rem;
}

.profile-title,
.profile-subtitle {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.profile-title {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.profile-subtitle {
  font-size: 1.5rem;
}

/* About */
.about-content,
.about-picture {
  border-radius: 0.25rem;
}

.about-content {
  position: relative;
  padding-bottom: 0.5rem;

  display: grid;
  grid-template-rows: auto 1fr;
}

.about-content::before,
.about-content::after {
  position: absolute;
  display: block;
  transform: skew(-25deg);
  color: #95a5a6;
  font-size: 2rem;
  font-weight: bold;
  content: '"';
}

.about-content::before {
  top: 0;
  left: 0.2rem;
}

.about-content::after {
  right: 0.5rem;
  bottom: -1rem;
}

.about-picture {
  grid-row: 1;
  width: 100%;
  max-width: 160px;
  margin-right: 0.2rem;
}

.about-statement {
  grid-row: 2;
  margin-top: 0.5rem;
  line-height: 1.25rem;
}

.about-statement p:first-child {
  margin: 0;
}

.about-social {
  grid-row: 3;
}

.about-social-icon {
  height: 34px;
  padding: 0 5px;
  opacity: 0.33;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.25, 1);
  transition-property: opacity, transform;
}

.about-social-icon:hover {
  opacity: 0.8;
  transform: scale(1.25);
}

@media (min-width: 640px) {
  .about-content {
    grid-gap: 0.8rem;
    grid-template-columns: auto 1fr;
  }

  .about-social {
    grid-row: 2;
  }

  .about-statement {
    grid-row: 1 / 3;
    margin-top: 0;
  }
}

/* Contact */
#contact-text,
#contact-email {
  width: 100%;
  margin-top: 0.25rem;
}

.contact-submit {
  width: 100%;
  background: #2ecc71;
  color: #ffffff;
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  font-variant: small-caps;
}

#contact-success,
#contact-error {
  display: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 1, 0.25, 1);
  font-size: 1.5rem;
}

#contact-success {
  color: #2ecc71;
}

#contact-error {
  color: #e74c3c;
}

#contact-success.shown,
#contact-error.shown {
  display: block;
  opacity: 1;
}

/* Posts */
.post-list-title,
.post-item {
  margin-bottom: 2rem;
}

.post-item-title {
  font-size: 22px;
  color: #333333;
  transition: color 0.4s cubic-bezier(0.25, 1, 0.25, 1);
}

.post-item-title:hover {
  color: #999999;
}

.post-item-text {
  margin: 0.33rem 0;
}

.post-item-date {
  font-size: 14px;
  color: #666666;
}

/* Footer */
.footer-stripe {
  height: 5px;
  background: #3498db;
  background: linear-gradient(to right,#3498db, #2ecc71);
}

footer {
  background: #34495e;
  padding: 1rem;
  color: #ffffff;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.footer-content a {
  color: #ffffff;
  border-bottom: 1px dotted #ecf0f1;
}
