html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--neutralLighter);
  color: var(--foregroundDarker);
  font-family: var(--fontText), sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted var(--neutralDark);
  cursor: help;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: opacity, filter;
}

fieldset[disabled] {
  opacity: 0.8;
  filter: grayscale(100%);
}

fieldset[disabled],
fieldset[disabled] textarea,
fieldset[disabled] input,
fieldset[disabled] button {
  cursor: not-allowed;
}

fieldset.--loading,
fieldset.--loading textarea,
fieldset.--loading input,
fieldset.--loading button {
  cursor: progress;
}

textarea,
input,
button {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 1rem 0.6rem;
  transition: all var(--transitionDuration) var(--transitionEasing);
}

textarea,
input {
  outline: none;
  border: 1px solid var(--neutral);
  font-family: var(--fontText), sans-serif;
  font-size: 1rem;
  transition-property: box-shadow;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 600px;
}

button {
  cursor: pointer;
  border: 0;
  transition-property: box-shadow;
}

.narrow {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.spacer {
  margin-bottom: 3rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}
