.footerStripe {
  height: 5px;
  background: var(--info);
  background: linear-gradient(to right, var(--info), var(--success));
}

.footer {
  background: var(--primary);
  padding: 2rem 1rem;
  color: var(--neutralLighter);
}

.footer__content {
  text-align: center;
}

@media (min-width: 480px) {
  .footer__content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.footer__link {
  color: var(--neutralLighter);
  border-bottom: 1px dotted var(--neutralLight);
}
