.footer {
  position: relative;
  margin-top: 5px;
  background: var(--primary);
  padding: 2rem 1rem;
  color: var(--neutralLighter);

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    display: block;
    height: 5px;
    background: var(--info);
    background: linear-gradient(to right, var(--info), var(--success));
  }
}

.footer__content {
  text-align: center;

  @media (min-width: 30em) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.footer__link {
  color: var(--neutralLighter);
  border-bottom: 1px dotted var(--neutralLight);
}
